<form method="POST" class="elao-consent">
    {% if consents|length > 1 %}
        <p>{{ 'elao_consent.messages.consent_message'|trans({}, 'elao_consent')|raw }}</p>
        <details class="elao-consent__details">
            <summary>{{ 'elao_consent.messages.details'|trans({}, 'elao_consent')|raw }}</summary>
            <ul>
                {% for name, consent in consents %}
                    <li>
                        {{ consent.label }}
                        <div class="choice">
                            <div class="radio-button radio-button--reject">
                                <input type="radio" name="consents[{{ name }}]" value="0" id="consent_{{ name }}_no">
                                <label for="consent_{{ name }}_no">{{ 'elao_consent.messages.reject'|trans({}, 'elao_consent')|raw }}</label>
                            </div>
                            <div class="radio-button radio-button--accept">
                                <input type="radio" name="consents[{{ name }}]" value="1" id="consent_{{ name }}_yes">
                                <label for="consent_{{ name }}_yes">{{ 'elao_consent.messages.accept'|trans({}, 'elao_consent')|raw }}</label>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <div class="elao-consent__actions">
                <button type="submit">{{ 'elao_consent.messages.save'|trans({}, 'elao_consent')|raw }}</button>
            </div>
        </details>
        <div class="elao-consent__actions">
            <button type="submit" name="consents[_all]" value="0" class="reject-all">{{ 'elao_consent.messages.reject_all'|trans({}, 'elao_consent')|raw }}</button>
            <button type="submit" name="consents[_all]" value="1" class="accept-all">{{ 'elao_consent.messages.accept_all'|trans({}, 'elao_consent')|raw }}</button>
        </div>
    {% else %}
        <p>{{ 'elao_consent.messages.consent_message'|trans({}, 'elao_consent')|raw }}</p>
        <div class="elao-consent__actions">
            <button type="submit" name="consents[{{ consents|keys|first }}]" value="1" class="reject-all">{{ 'elao_consent.messages.accept'|trans({}, 'elao_consent')|raw }}</button>
            <button type="submit" name="consents[{{ consents|keys|first }}]" value="0" class="accept-all">{{ 'elao_consent.messages.reject'|trans({}, 'elao_consent')|raw }}</button>
        </div>
    {% endif %}
</form>
